* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #fff;
}

:root {
  --bg-principal: #011641;
  --bg-secundaria: #abb1fa;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-principal);
}

main {
  padding: 8px;
}

.painel-meses {
  background-color: #2c3d6c;
  flex: 1;
  padding: 1em;
}

.painel-dias {
  background-color: #586497;
  flex: 1;
  padding: 1em;
}

.painel-agenda {
  background-color: #838bc2;
  flex: 1;
  padding: 1em;
}

.date-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.botao-voltar {
  background-color: transparent;
  border: 0;
  padding: 8px;
  display: flex;
  border-radius: 8px;
  flex: 1;
  transition: all 0.5s;
}

.botao-voltar:hover {
  background-color: var(--bg-secundaria);
}

.botao-nav {
  padding: 1em;
  background-color: transparent;
  border: 0;
  font-size: 12px;
  transition: all 0.5s;
  border-radius: 6px;
}

.botao-nav:hover {
  background-color: var(--bg-secundaria);
}
