* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #fff;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: #012a4a;
}

main {
  padding: 8px;
}
